<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <main class="content">
        <%- include('./partials/navbar') %>


            <div class="book-container">
                <div class="book-header">
                    <p class="book-name">
                        <%= book.title%>
                    </p>
                    <p class="book-author">
                        <%= book.author %>
                    </p>
                </div>
                <div class="book-details">
                    <p> Fiction: <%= book.is_fiction ? 'True' : 'False' %>
                    </p>
                    <p> Read: <%= book.is_read ? 'True' : 'False' %>
                    </p>
                </div>
                <div class="btn-group">
                    <a href="/update/<%= book.id %>" class="btn-edit">
                        <button class="btn edit">Edit</button>
                    </a>
                    <button class="btn del">Delete</button>
                </div>

            </div>

    </main>
</body>

</html>