<html>

<head>
    <title>
        <%= title %>
    </title>
    <script>
        document.addEventListener("click", async (e) => {
            if (!e.target.classList.contains("delete-btn")) return;

            if (prompt("Enter the password to delete") !== "password") return;

            const bookId = e.target.dataset.bookId;

            const res = await fetch(`/books/${bookId}`, { method: "DELETE" });

            if (res.ok) {
                e.target.closest(".book-item").remove();
            }
        });

    </script>
</head>

<body>
    <main class="content">
        <h1>
            <%= title %>
        </h1>
        <%- include('./partials/navbar') %>

            <div class="books">
                <% books.forEach(book=> { %>

                    <div class="book-container">
                        <div class="book-header">
                            <p class="book-name">
                                <%= book.title%>
                            </p>
                            <p class="book-author">
                                <%= book.author %>
                            </p>
                        </div>
                        <div class="book-details">
                            <p> Is fiction: <%= book.is_fiction %>
                            </p>
                            <p> Is read: <%= book.is_read %>
                            </p>
                        </div>

                    </div>



                    <% }); %>
            </div>
    </main>
</body>

</html>