<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/formStyle.css">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                placeholder: "Select genres",
                allowClear: true
            });
        });
    </script>


</head>

<body>
    <main class="content">

        <%- include('./partials/navbar') %>

            <h3>Updating: <%= title %>
            </h3>
            <form action="/update/:bookId" method="POST" class="form">
                <div class="inputGroup">
                    <label for="title">Title: </label>
                    <input type="text" name="title" id="title" value="<%= book.title %>" required>
                </div>
                <div class="inputGroup">
                    <label for="author">Author: </label>
                    <input type="text" name="author" id="author" value="<%= book.author %>" required>
                </div>
                <div class="inputGroup">
                    <label for="genres">Generes: </label>
                    <select style="width: 100%;" class="js-example-basic-multiple" name="genres" id="genres" multiple>
                        <option value="fantasy" <%=book.genres.includes('fantasy') ? 'selected' : '' %>>Fantasy</option>
                        <option value="scifi" <%=book.genres.includes('scifi') ? 'selected' : '' %>>Sci-Fi</option>
                        <option value="mystery" <%=book.genres.includes('mystery') ? 'selected' : '' %>>Mystery</option>
                        <option value="psychological" <%=book.genres.includes('psychological') ? 'selected' : '' %>
                            >Psychological</option>
                        <option value="philosophy" <%=book.genres.includes('philosophy') ? 'selected' : '' %>>Philosophy
                        </option>
                        <option value="crime" <%=book.genres.includes('crime') ? 'selected' : '' %>>Crime</option>
                    </select>
                </div>
                <fieldset>
                    <legend>Fiction or Non-fiction?</legend>

                    <label for="fiction">
                        <input type="radio" id="fiction" name="isFiction" value="fiction" <%=book.isFiction ? 'checked'
                            : '' %> required>
                        Fiction
                    </label>


                    <label for="non-fiction">
                        <input type="radio" id="non-fiction" name="isFiction" value="non-fiction" <%=!book.isFiction
                            ? 'checked' : '' %>>
                        Non-fiction
                    </label>
                </fieldset>

                <fieldset>
                    <legend>Have you read this book?</legend>

                    <label for="read">
                        <input type="radio" id="read" name="isRead" value="read" <%=book.isRead ? 'checked' : '' %>
                        required>
                        Read
                    </label>


                    <label for="no-read">
                        <input type="radio" id="no-read" name="isRead" value="not-read" <%=!book.isRead ? 'checked' : ''
                            %>>
                        Not Read
                    </label>
                </fieldset>
                <button class="btn" type="submit">Update</button>
            </form>
    </main>

</body>

</html>